# Dependency directories
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Build output
out/
dist/
*.vsix

# VS Code settings
.vscode-test/
.vscode/
*.code-workspace

# Logs
logs
*.log

# OS specific files
.DS_Store
Thumbs.db 